USE [master]
GO
/****** Object:  Database [DbEncuesta]    Script Date: 10/10/2021 01:28:38 ******/
CREATE DATABASE [DbEncuesta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbEncuesta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbEncuesta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbEncuesta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbEncuesta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbEncuesta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbEncuesta]
GO
USE [DbEncuesta]
GO
/****** Object:  User [elunadanilo]    Script Date: 10/10/2021 01:28:38 ******/
CREATE USER [elunadanilo] FOR LOGIN [elunadanilo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TblEncuesta]    Script Date: 10/10/2021 01:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEncuesta](
	[IdEncuesta] [uniqueidentifier] NOT NULL,
	[NombreEncuesta] [varchar](100) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_TblEncuesta] PRIMARY KEY CLUSTERED 
(
	[IdEncuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblListadoCampos]    Script Date: 10/10/2021 01:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblListadoCampos](
	[IdListadoCampoEncuesta] [int] IDENTITY(1,1) NOT NULL,
	[Encuesta] [varchar](50) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Requerido] [bit] NOT NULL,
	[TipoDeCampo] [varchar](6) NOT NULL,
 CONSTRAINT [PK_TblListadoCampos] PRIMARY KEY CLUSTERED 
(
	[IdListadoCampoEncuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblRespuestas]    Script Date: 10/10/2021 01:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRespuestas](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdListadoCampoEncuesta] [int] NOT NULL,
	[Respuesta] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TblRespuestas] PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUsuarios]    Script Date: 10/10/2021 01:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUsuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](30) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Correo] [varchar](80) NOT NULL,
	[Administrador] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TblUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblEncuesta] ADD  CONSTRAINT [DF_TblEncuesta_IdEncuesta]  DEFAULT (newid()) FOR [IdEncuesta]
GO
ALTER TABLE [dbo].[TblEncuesta] ADD  CONSTRAINT [DF_TblEncuesta_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TblListadoCampos] ADD  CONSTRAINT [DF_TblListadoCampos_Requerido]  DEFAULT ((0)) FOR [Requerido]
GO
ALTER TABLE [dbo].[TblUsuarios] ADD  CONSTRAINT [DF_TblUsuarios_Administrador]  DEFAULT ((0)) FOR [Administrador]
GO
ALTER TABLE [dbo].[TblUsuarios] ADD  CONSTRAINT [DF_TblUsuarios_Activo]  DEFAULT ((0)) FOR [Activo]
GO
USE [master]
GO
